@charset "utf-8";

@font-face {
  font-family: 'GothamBold';
  src: url('../fonts/en/gotham-bold-webfont.eot'); 
  src: url('../fonts/en/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/en/gotham-bold-webfont.woff') format('woff'), 
       url('../fonts/en/gotham-bold-webfont.ttf')  format('truetype'); 
}
@font-face {
  font-family: 'GothamBook';
  src: url('../fonts/en/gotham-book-webfont.eot'); 
  src: url('../fonts/en/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/en/gotham-book-webfont.woff') format('woff'), 
       url('../fonts/en/gotham-book-webfont.ttf')  format('truetype'); 
}
@font-face {
  font-family: 'GothamMedium';
  src: url('../fonts/en/gotham-medium.eot'); 
  src: url('../fonts/en/gotham-medium.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/en/gotham-medium.woff') format('woff'), 
       url('../fonts/en/gotham-medium.ttf')  format('truetype'); 
}
@font-face {
  font-family: 'GothamLight';
  src: url('../fonts/en/gotham-light-webfont.eot'); 
  src: url('../fonts/en/gotham-light-webfont.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/en/gotham-light-webfont.woff') format('woff'), 
       url('../fonts/en/gotham-light-webfont.ttf')  format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: local('Nanum Barun Gothic UltraLight'), local('Nanum Barun Gothic-UltraLight'), local('NanumBarunGothic UltraLight');
  src: url(../fonts/kr/NanumBarunGothicUltraLight.eot);
  src: url(../fonts/kr/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'),
       url(../fonts/kr/NanumBarunGothicUltraLight.woff) format('woff'),
       url(../fonts/kr/NanumBarunGothicUltraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: local('Nanum Barun Gothic Light'), local('Nanum Barun Gothic-Light'), local('NanumBarunGothic Light');
  src: url(../fonts/kr/NanumBarunGothicLight.eot);
  src: url(../fonts/kr/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'),
       url(../fonts/kr/NanumBarunGothicLight.woff) format('woff'),
       url(../fonts/kr/NanumBarunGothicLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: local('Nanum Barun Gothic Regular'), local('Nanum Barun Gothic-Regular'), local('NanumBarunGothic Regular');
  src: url(../fonts/kr/NanumBarunGothic.eot);
  src: url(../fonts/kr/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(../fonts/kr/NanumBarunGothic.woff) format('woff'),
       url(../fonts/kr/NanumBarunGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: local('Nanum Barun Gothic Bold'), local('Nanum Barun Gothic-Bold'), local('NanumBarunGothic Bold');
  src: url(../fonts/kr/NanumBarunGothicBold.eot);
  src: url(../fonts/kr/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/kr/NanumBarunGothicBold.woff) format('woff'),
       url(../fonts/kr/NanumBarunGothicBold.ttf) format('truetype');
}

* {
  font-family: "나눔 바른 고딕", "Nanum Barun Gothic", "GothamBold", "GothamLight", sans-serif;
}